<% @destinations.each do |d| %>

  <%= render d %>



  <% end %>



<div id="search-box"> 
<input type="text" id="search" placeholder="Enter a search term">
</div>
<p> 





<div id = "form_map">

<div id = "map-canvas"/>
</div>
</div> 