

<div id ="main">


<h2><%= destination.name %></h2>

	<%= render :partial => 'todo_items/form', :locals => { :destination_id => destination.id } %> 

<BR>
  <% destination.todo_items.each do |x| %>
  <%= render x %> 
  <% end %>  

</div> 