// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.comment{
	width: 200px;
	height:50px;
	// margin: 0 auto;

	color: purple; 
	border-width: 3px;
	border-style: solid;
	border-color: #00aedb;
	border-radius: 6px;
	padding: 5px;
	padding-left: 10px;
	font-family: arial;
	margin: 5px;
	margin-left: 0px;
}

div#main {
	float: left;
	background-color: #CCFF66;
	color: #333333;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin: 5px;
}