// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.comment{
	width: 200px;
	// margin: 0 auto;

	color: purple; 

	padding: 5px;
	padding-left: 10px;
	font-family: arial;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: left;
}

div#main {
	float: left;
	background-color: #CCFF66;
	color: #333333;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin: 5px;
}