// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map-canvas {
	height: 700px;
	width: 550px;
	border: 4px solid #0099cc;
	margin: 0 auto;
	float: right;
	
}

#form_map {
	padding-right: 20px;
}

.destinations {
	height: 200px;
	width: 250px;
	border: 1px solid black;
	background-color: white;
	float: left;
}

